@import 'utils/variables.scss';

.slider {
  &__box {
    &--card {
      padding: 2.8rem;

      .title {
        position: relative;
        width: 9.6rem;
        height: 9.6rem;
        margin: 0 auto;
        border-radius: 10px;
        text-align: center;
        line-height: 9.6rem;
        font-weight: 700;
        font-size: 5rem;
        color: #f58220;
        box-shadow: 0px 4px 35px rgba(0, 0, 0, 0.1);

        &--count {
          position: absolute;
          bottom: -2rem;
          left: -2rem;
          color: #9c9c9c;
          background: #444;
          width: 4.2rem;
          height: 4.2rem;
          line-height: 4.2rem;
          border-radius: 50%;
          font-weight: 700;
          font-size: 1.4rem;
          text-align: center;

          span {
            color: #dddddd;
          }
        }
      }
    }
  }
}
