.flex-row-center {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  & > * {
    margin-right: 10px;
  }
  & > *:last-child {
    margin-right: 0;
  }
}
.flex-column {
  display: flex;
  flex-direction: column;
  & > * {
    margin-bottom: 10px;
  }
}
