@import 'utils/variables.scss';

.button {
  &.default {
    border-radius: 0.5rem;
  }
  &.round {
    border-radius: 0.8rem;
  }
  &.orange {
    background-color: $orange;
    color: $white;
    &:hover {
      background-color: $dark-orange;
    }
  }
  &.white {
    border-spacing: 0;
    border-style: solid;
    border-width: 1px;
    &:hover {
      border-color: $orange;
      color: $orange;
    }
  }
  &.black {
    background-color: $black-gray;
    color: $light-gray2;
    &:hover {
      background-color: $gray;
      color: $dark-orange;
    }
  }
}
