@import 'utils/variables.scss';

.button {
  &.default {
    border-radius: 0.5rem;
  }
  &.round {
    border-radius: 0.8rem;
  }
  &.orange {
    background-color: $color-orange-1;
    color: $color-black;
    &:hover {
      background-color: $color-orange-2;
    }
  }
  &.white {
    border-spacing: 0;
    border-style: solid;
    border-width: 1px;
    &:hover {
      border-color: $color-orange-1;
      color: $color-orange-1;
    }
  }
  &.black {
    background-color: $color-gray-0;
    color: $color-gray-5;
    &:hover {
      background-color: $color-gray-1;
      color: $color-orange-2;
    }
  }
}
