@import 'utils/variables.scss';

.resultbox {
  text-align: center;
  padding: 2.2rem 0;
  border-radius: 8px;
  span {
    display: inline-block;
    width: 100%;
  }

  span {
    &:first-of-type {
      font-size: $font-size-4;
      font-weight: $font-weight-bold;
    }
    &:last-of-type {
      font-size: $font-size-5;
      margin-top: 0.7rem;
    }
  }

  &.white {
    background-color: $color-white;
    span {
      &:first-of-type {
        color: $color-gray-0;
      }
      &:last-of-type {
        color: $color-gray-0;
      }
    }
  }
  &.black {
    background-color: #2e2e2e;
    span {
      &:first-of-type {
        color: $color-white;
      }
      &:last-of-type {
        color: $color-orange-3;
      }
    }
  }
  &.gray {
    background-color: $color-gray-0;
    span {
      &:first-of-type {
        color: $color-white;
      }
      &:last-of-type {
        color: $color-gray-4;
      }
    }
  }
}
