@import 'utils/variables.scss';

.textarea {
  display: block;
  width: 80%;
  margin: 0 auto;
  min-height: 10rem;
  border-radius: 5px;
  &:hover {
    border-color: $color-orange-1;
  }
  &:focus {
    border-color: $color-orange-1;
  }
}
