@import 'utils/mixins.scss';
@import 'utils/variables.scss';

.hamburger {
  @include space-clear;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 3.6rem;
  height: 3.6rem;
  transition: opacity 0.3s;
  &__line {
    width: 2.4rem;
    height: 0.4rem;
    background-color: $color-orange-1;
    margin: 0.17rem 0rem;
    transition: all 0.3s ease-in-out;
    border-radius: 5px;
  }
  &.active > &__line:first-of-type + &__line {
    opacity: 0;
  }
  &.active > &__line:first-of-type {
    transform: translateY(0.735rem) rotate(45deg);
  }
  &.active > &__line:last-of-type {
    transform: translateY(-0.735rem) rotate(-45deg);
  }
  &:hover {
    cursor: pointer;
    opacity: 0.5;
  }
}
