@import 'utils/variables.scss';

* {
  font-family: $font-stack;
}
h1,
h2 {
  font-weight: $font-weight-bold;
}
h3,
h3 {
  font-weight: $font-weight-medium;
}
h1 {
  font-size: $h1-font-size;
}
h2 {
  font-size: $h2-font-size;
}
h3 {
  font-size: $h3-font-size;
}
h4 {
  font-size: $h4-font-size;
}
