@import 'utils/variables.scss';

.home {
  &--banner {
    img {
      display: block;
      width: 80%;
      margin: 0 auto;
    }
  }
  &--button {
    padding: 5rem;
    a {
      display: block;
      color: $color-gray-1;
      font-weight: $font-weight-bold;
      font-size: $font-size-4;
      margin-top: 1.8rem;
      text-align: center;
      &:hover {
        color: $color-gray-3;
      }
    }
  }
}
