@import 'utils/variables.scss';

.setting {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &__text {
    margin-top: 2rem;
    font-weight: $font-weight-bold;
    text-align: center;
    &--title {
      margin-bottom: 1rem;
      font-size: $font-size-4;
    }
    &--contents {
      color: $color-orange-1;
    }
  }
}
